@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  /* overflow: unset !important; */
  font-family: Plus Jakarta Sans;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.dollar-sign {
  left: 4px;
  position: absolute;
}

.dollar-sign > p {
  font-size: 16px;
  font-weight: 400;
  color: #01070f;
  line-height: 24px;
  font-style: normal;
  font-family: 'Plus Jakarta Sans';
}

/* TimePicker */
.MuiPickersLayout-root {
  border-radius: 8px;
  background: #fff;
}

.MuiPickersToolbar-root {
  padding: 16px 24px 0;
}

.MuiPickersToolbar-root > span {
  font-size: 18px;
  font-weight: 500;
  color: #1d3250;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  font-family: Plus Jakarta Sans;
}

.MuiPickersToolbar-content {
  margin-top: 24px;
}

.MuiTimePickerToolbar-hourMinuteLabel > button {
  height: 60px;
  min-width: 60px;
  border-radius: 8px;
  background: #e6f2f8;
}

.MuiTimePickerToolbar-hourMinuteLabel > button .MuiTypography-root {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  font-family: Plus Jakarta Sans;
}

.MuiTimePickerToolbar-hourMinuteLabel > button:first-child .MuiTypography-root {
  color: #0179b9;
}

.MuiTimePickerToolbar-hourMinuteLabel > button:last-child .MuiTypography-root {
  color: #747474;
}

.MuiTimePickerToolbar-ampmSelection {
  gap: 8px;
  margin-left: 20px !important;
}

.MuiTimePickerToolbar-ampmSelection > button:hover {
  background: transparent;
}

.MuiTimePickerToolbar-ampmSelection
  > button
  .MuiPickersToolbarText-root.Mui-selected {
  width: 60px;
  height: 30px;
  display: flex;
  color: #0179b9;
  border-radius: 4px;
  align-items: center;
  background: #e6f2f8;
  justify-content: center;
}

.MuiTimePickerToolbar-hourMinuteLabel .MuiTimePickerToolbar-separator {
  height: 60px;
  margin: 0 8px;
  color: #3a3a3a;
}

.MuiPickersLayout-contentWrapper {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.MuiPickersLayout-contentWrapper .MuiClock-clock {
  border: 1px solid #cdcdcd;
  background-color: transparent;
}

.MuiPickersLayout-contentWrapper .MuiPickersArrowSwitcher-root {
  display: none;
}

.MuiDialogActions-root > button {
  width: 90px;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-style: normal;
  text-transform: capitalize;
  font-family: Plus Jakarta Sans;
}

.MuiDialogActions-root > button:first-child {
  color: #0179b9;
}

.MuiDialogActions-root > button:last-child {
  color: #fff;
  border-radius: 8px;
  background-color: #0179b9;
}
